<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Kaffees - Bulletinboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="./assets/images/favicon.ico" type="image/vnd.microsoft.icon">
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/config.js"></script>
    <script type="text/javascript" src="./assets/js/auth.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/stylesheets/base.css">
  </head>
  <body>
    <div id="app" class="orders_list">
      <v-loading :show="loadingIcon"></v-loading>
      <a href="#" v-on:click="backToSystem"> System &gt; Bulletin board </a><br><br>
      <div class="row">
        <h1 class="col-md-8">Bulletin board</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="orders col-md-4 card" v-for="order in orders" style="padding: 0.5em;" v-if="order.order.status == 'created' && !(order.submitted_person) ">

            <h1> 待ち番号: {{order.counter.receipt_number}} </h1>
            <p class="badge badge-danger" v-if="!(order.submitted_person)">受け取り指定時間: {{ new Date(order.order.wait_time).toLocaleTimeString() }}</p>
            <ul>
              <li v-for=" product in order.products ">
                {{ product.name }}
              </li>
            </ul>
            <!-- <p>合計{{order.products.length * Number(order.products.) 200}}円</p> -->
          </div> <!-- div.orders.col-md-4 -->
        </div> <!-- div.row -->
      </div> <!-- div.container -->
    </div> <!-- div#app.system -->
  </body>
  <script>
  var ws;

  Vue.component('v-loading', {
    props: {
      show: {
 default: false,
   type: Boolean
      }
    },
    template: '<transition name="fade"><div v-if="show" id="loader-bg"><img src="./assets/images/loading2.gif"></div></transition>'
  });

  var vm = new Vue({
    el: '#app',
    data: {
      orders: {},
      status: '',
      loadingIcon: true,
    },
    methods: {
      backToSystem() {
        window.location.href = 'system.html'
      },
      getIndex(arr, key, value) {
        for( let i = 0; i < arr.length; i++ ) {
          if(arr[i].order.id == value) {
            return i
          }
        }
        return -1
      },
    },
    mounted: () => {

      let config = new CONFIG();
      let url = config.url(location.protocol) + '/orders';
      axios.get(url).then( res => {
        console.log(res.data);
        vm.orders = res.data;
        vm.loadingIcon = false;
      }).catch( err => {
        alert(err.response.statusText)
      });

      //WebSocket
      new Promise( (resolve, reject) => {
        let config = new CONFIG();
        let url = config.wsurl(location.protocol) + '/orders/create'; 
        ws = new WebSocket(url);
        resolve();
      }).then( () =>  {
        ws.onclose = () => {
          location.reload();
        }
        ws.onmessage = evt =>{
          let data = JSON.parse(evt.data);
          let index = vm.getIndex(vm.orders, "id", data.order.id);
          switch (data.action_performed){
            case 'order_received':
              vm.orders.push(data)
              break;
            case 'order_normaled':
              Vue.set(vm.orders[index].order, 'status', data.order.status);
              break;
            case 'order_created':
              Vue.set(vm.orders[index].order, 'status', data.order.status);
              break;
            case 'order_serviced':
              Vue.set(vm.orders[index].order, 'status', data.order.status);
              break;
            case 'order_calculated':
              Vue.set(vm.orders[index].order, 'status', data.order.status);
              break;
            case 'order_destroy':
              Vue.delete(vm.orders, data.order.id)
              break;
          }
        }
        ws.onerror = error => {
          console.error("Error:" + error);
        }
      })
    }
  })
  </script>
</html>
