<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Kaffees - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/auth.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/stylesheets/base.css">
  </head>
  <body>
    <div id="app">
      <h1>ログイン</h1>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" id="inputEmail" class="form-control" name="name" placeholder="名前" v-model="name"><br>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" v-model="password"><br>
        </div>
      </div>
      <button class="btn btn-primary" v-on:click="submit">ログイン</button>
    </div>
  </body>
  <script>
  let auth = new Authentication;
  var vm = new Vue({
    el: '#app',
    data: {
      name: "",
      password: ""
    },
    methods: {
      submit() {
        auth.login(vm.name, vm.password, (res) => {
          if( res.status == 200) {
            localStorage.setItem('userName', res.data.user.name);
            localStorage.setItem('userRole', res.data.user.role);
            localStorage.setItem('userToken', res.data.token);
            window.location.href = 'system.html';
          } else {
            alert(res.statusText);
          }
        });
      }
    },
    mounted: () => {
      auth.verification(localStorage.userToken, (result) => {
        if ( result ) {
          window.location.href = 'system.html'
        }
      })
    }
  })
  </script>
</html>
