<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Kaffees - OrdersList</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="./assets/images/favicon.ico" type="image/vnd.microsoft.icon">
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/config.js"></script>
    <script type="text/javascript" src="./assets/js/auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/stylesheets/base.css">
  </head>
  <body>
    <div id="app" class="orders_list">
      <v-loading :show="loadingIcon"></v-loading>
      <a href="#" v-on:click="backToSystem"> System &gt; OrdersList </a><br><br>
      <div class="row">
        <h1 class="col-md-8">Orders List</h1>
        <h4 class="col-md-4">{{ user.name }} ( {{ user.role }} ) <a href="#" class="badge badge-info" v-on:click="logout">Logout</a> </h4>
      </div>
      <p>{{ status }}</p>
      <div class="form-group">
        <input type="number" class="form-control"  placeholder="Search" v-model.number="searchWord">
        <small id="emailHelp" class="form-text text-muted">検索したい番号札の番号を入れてください</small>
      </div>
      <div class="container">
        <transition-group name="staggered-fade" tag="div" class="row" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave" >
          <div class="orders col-md-4 card" v-for="(order, index) in sortOrders" :key="index" style="padding: 0.5em;" v-if="hoge(order.order.status)">

            <!-- action buttons -->
          <button type="button" class="btn btn-secondary" v-on:click="action(order.order.id, 'Created')" v-show="user.role == 'kitchen'">
            作成済み
          </button>

          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cancelModal" v-show="user.role == 'kitchen'">
            キャンセル
          </button>

          <button type="button" class="btn btn-secondary" v-on:click="action(order.order.id, 'Serviced')" v-show="user.role == 'provider'">
            提供済み
          </button>
          <button type="button" class="btn btn-secondary" v-on:click="action(order.order.id, 'Calculated')" v-show="user.role == 'counter'">
            会計済み
          </button>

          <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="confirmationModalTitle">キャンセル</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> <!-- modal-header -->
                <div class="modal-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">New Order Number</label>
                    <input type="number" class="form-control" id="inputNewOrderNumber" placeholder="Enter Order Number" v-model.number="newOrderId">
                    <small id="emailHelp" class="form-text text-muted">修正したオーダー番号を入力してください</small>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取りやめる</button>
                    <button type="button" class="btn btn-primary" v-on:click="action(order.order.id, 'Cancel')" data-dismiss="modal" > キャンセルを確定 </button>
                  </div> <!-- div.modal-footer -->
                </div> <!-- div.modal-body -->
              </div> <!-- div.modal-content -->
            </div> <!-- div.modal-dialog -->
          </div> <!-- div.modal.fade -->


          <div class="dropdown" v-show="user.role == 'admin'">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              アクション
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" v-on:click="action(order.order.id, 'Normal')">無効化</a>
              <a class="dropdown-item" href="#" v-on:click="action(order.order.id, 'Created')">作成済み</a>
              <a class="dropdown-item" href="#" v-on:click="action(order.order.id, 'Serviced')">提供済み</a>
              <a class="dropdown-item" href="#" v-on:click="action(order.order.id, 'Calculated')">会計済み</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cancelModal">キャンセル</a>
              <a class="dropdown-item" href="#" v-on:click="action(order.order.id, 'Destroy')">削除</a>
            </div>
          </div>
          <!-- action buttons -->
          <p>
          待ち番号: <span v-if="order.old_order ">{{ order.old_order.counter.receipt_number }} ⇒ </span>{{order.counter.receipt_number}}
          <span class="badge badge-success" v-if="order.submitted_person">{{ order.submitted_person.name }}</span>
          </p>
          <p class="badge badge-danger" v-if="!(order.submitted_person) ">受け取り指定時間: {{ new Date(order.order.wait_time).toLocaleTimeString() }}</p>
          <ul>
            <li v-for=" product in order.products ">
              {{ product.name }}
            </li>
          </ul>
          <p>注文確定時間: {{ new Date(order.order.created_at).toLocaleString() }}</p>
          <strong v-show="user.role == 'admin'" >現在のステータス {{ order.order.status }}</strong>
          <strong v-show="user.role == 'counter'">合計{{ totalAmount(order.products) }}円</strong>
          </div> <!-- div.orders.col-md-4 -->
        </transition-group>
      </div> <!-- div.container -->
    </div> <!-- div#app.system -->
  </body>
  <script>
  var ws;
  let auth = new Authentication;

  Vue.component('v-loading', {
    props: {
      show: {
 default: false,
   type: Boolean
      }
    },
    template: '<transition name="fade"><div v-if="show" id="loader-bg"><img src="./assets/images/loading2.gif"></div></transition>'
  });

  var vm = new Vue({
    el: '#app',
    data: {
      user: {
        name:  localStorage.userName,
        role:  localStorage.userRole,
        token: localStorage.userToken
      },
      searchWord: null,
      newOrderId: 0,
      orders: [],
      status: '',
      loadingIcon: true,
    },
    methods: {
      totalAmount(products) {
        let num = 0;
        for (key in products) {
          let product = products[key];
          num += product.price;
        }
        return num;
      },
      action(id, action) {
        if (action == 'Cancel') {
          ws.send(JSON.stringify({
            order_id: id,
            new_order_id: vm.newOrderId,
            action: 'Cancel',
          }));
        } else {
          ws.send(JSON.stringify({
            order_id: id,
            action: action,
          }));
        }
      },
      hoge(status) {
        let role = vm.user.role;
        // Adminの場合無条件で表示
        if ( !(role == 'admin') ) { 
          switch (status) { //注文のステータス
            case 'normal':
              return role == 'kitchen'
                break;
            case 'created': //kitchen
              //作成済みの注文はキッチン担当の場合見せない
              return !(role == 'kitchen')
                break;
            case 'serviced': //provider
              //作成後提供された注文はキッチンとフロアーは見せない
              return !(role == 'kitchen' || role == 'provider')
                break;
            case 'calculated': //counter
              // calculated
              return false //誰も見れない
              break;
            case 'canceled':
              return false //誰も見れない
              break;
          }
        } else {
          return true
        }
      },
      getIndex(arr, key, value) {
        for( let i = 0; i < arr.length; i++ ) {
          if(arr[i].order.id == value) {
            return i
          }
        }
        return -1
      },
      backToSystem() {
        window.location.href = 'system.html'
      },
      logout() {
        localStorage.removeItem("userToken")

        window.location.href = 'login.html'
      },
      beforeEnter: function (el) {
        el.style.opacity = 0
          el.style.height = 0
      },
      enter: function (el, done) {
        var delay = el.dataset.index * 150
          setTimeout(function () {
            Velocity(
              el,
              { opacity: 1, height: '18em' },
              { complete: done }
            )
          }, delay)
      },
      leave: function (el, done) {
        var delay = el.dataset.index * 150
          setTimeout(function () {
            Velocity(
              el,
              { opacity: 0, height: 0 },
              { complete: done }
            )
          }, delay)
      }
    },
    mounted: () => {
      // Login verification
      auth.verification(localStorage.userToken, (result) => {
        if ( result ) {
          let config = new CONFIG();
          let url = config.url(location.protocol) + '/orders';
          axios.get(url).then( res => {
            // console.log(res.data);
            vm.orders = res.data;
            vm.loadingIcon = false;
          }).catch( err => {
            alert(err.response.statusText)
          });
        } else {
          window.location.href = 'login.html'
        }
      });

      //WebSocket
      new Promise( (resolve, reject) => {
        let config = new CONFIG();
        let url = config.wsurl(location.protocol) + '/orders/create'; 
        ws = new WebSocket(url);
        resolve();
      }).then( () =>  {
        // ws.onopen = () => {
        // }
        ws.onclose = () => {
          location.reload();
        }
        ws.onmessage = evt =>{
          let data = JSON.parse(evt.data);
          if (!(data.text)) {
            let index = vm.getIndex(vm.orders, "id", data.order.id);
            switch (data.action_performed){
              case 'order_received':
                vm.orders.push(data)
                break;
              case 'order_normaled':
                Vue.set(vm.orders[index].order, 'status', data.order.status);
                break;
              case 'order_created':
                Vue.set(vm.orders[index].order, 'status', data.order.status);
                break;
              case 'order_serviced':
                Vue.set(vm.orders[index].order, 'status', data.order.status);
                break;
              case 'order_calculated':
                Vue.set(vm.orders[index].order, 'status', data.order.status);
                break;
              case 'order_destroy':
                Vue.delete(vm.orders, data.order.id)
                break;
              case 'order_canceled':
                //受け取るのはnewOrderの中にold
                let old_index = vm.getIndex(vm.orders, "id", data.old_order.order.id); //find index old_order
                Vue.set(vm.orders[old_index].order,  'status',               data.old_order.order.status); //キャンセル元
                vm.orders[index]['old_order'] = data.old_order;
                break;
            }
          }
        }
        ws.onerror = error => {
          console.error("Error:" + error);
        }
        setInterval( () => { // heroku 対策
          ws.send(JSON.stringify({text: "dumy"}))
        }, 15000);
      })
    },  
    computed: {
      sortOrders: function() {
        let vm = this;
        let data = this.orders;
        data.sort( (a, b) => {
          return (new Date(a.order.wait_time) > new Date(b.order.wait_time) ? 1 : -1);
        });
        if ( vm.searchWord == null || vm.searchWord == 0 ) {
          return data
        } else {
          return data.filter(function (item) {
            return item.counter.receipt_number == vm.searchWord;
          })
        }
      }
    },
  })
  </script>
</html>
