<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Kaffees - Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/config.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="./assets/stylesheets/base.css">
  </head>
  <body>
    <div id="app">

      <div class="order" v-show="orderWindow">
        <h1>注文</h1>
        <p>各種すべて 200円 </p>
        <div class="form-group row">
          <label for="inputCaffee" class="col-sm-2 col-form-label">コーヒー</label>
          <div class="col-sm-10">
            <select class="form-control" id="inputCaffee" v-model.number="caffee">
              <option selected>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputBlacktea" class="col-sm-2 col-form-label">アールグレイ</label>
          <div class="col-sm-10">
            <select class="form-control" id="inputBlacktea" v-model.number="blacktea">
              <option selected>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMilktea" class="col-sm-2 col-form-label">ミルクティー</label>
          <div class="col-sm-10">
            <select class="form-control" id="inputMilktea" v-model.number="milktea">
              <option selected>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMatchalatte" class="col-sm-2 col-form-label">抹茶ラテ</label>
          <div class="col-sm-10">
            <select class="form-control" id="inputMatchalatte" v-model.number="matchalatte">
              <option selected>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputLebossorange" class="col-sm-2 col-form-label">ルイボスオレンジティー</label>
          <div class="col-sm-10">
            <select class="form-control" id="inputLebossorange" v-model.number="lebossorange">
              <option selected>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputTime" class="col-sm-2 col-form-label">受け取りの時間を指定する</label>
          <div class="col-sm-9">
            <input type="text" class="timepicker form-control" v-model="wait_time">
          </div>
          <div class="col-sm-1">に受け取り</div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal" v-bind:disabled="confirmationSubmitDisabled" v-on:click="confirmationSubmit">
          確認画面にすすむ
        </button>
      </div>

      <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmationModalTitle">確認画面</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> <!-- modal-header -->
            <div class="modal-body">
              <h4 class="text-danger">{{ msg }}</h4>
              <div v-if="!msg">
                <ul>
                  <li v-if="caffee">コーヒー{{ caffee }}杯</li>
                  <li v-if="blacktea">アールグレイ {{ blacktea }}杯</li>
                  <li v-if="milktea">ミルクティー {{ milktea }}杯</li>
                  <li v-if="matchalatte">抹茶ラテ {{ matchalatte }}杯</li>
                  <li v-if="lebossorange">ルイボスオレンジティー {{lebossorange }}杯</li>
                </ul>
                <h5>
                  <span> 合計金額 {{ totalAmount }}円 </span> <br><br>
                  <span v-if="wait_time"> 受け取り指定時間 {{ wait_time }} </span> 
                  <span v-else> 5分以内の準備</span>
                </h5>
                <p>上記の内容で注文内容はよろしいですか？</p>
                <p class="blockquote-footer">注文を確定すると<a href="agreement.html" target="_blank" >利用規約</a>を同意したこととなります</p>
              </div> <!-- v-if='!msg' -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">注文を修正</button>
                <button type="button" class="btn btn-primary" v-on:click="submit" data-dismiss="modal" v-bind:disabled="orderSubmitDisabled">
                  注文を確定
                </button>
              </div> <!-- div.modal-footer -->
            </div> <!-- div.modal-body -->
          </div> <!-- div.modal-content -->
        </div> <!-- div.modal-dialog -->
      </div> <!-- div.modal.fade -->

      <div class="determination" v-show="determinationWindow">
        <h2>注文が確定いたしました</h2>
        <ol>
          <li v-for="order in orderedData.products" v-if="order.piece >= 1">
            {{ order.name }} : {{ order.piece }}
          </li>
        </ol>
        <p v-if="wait_time">受け取り時間 {{ wait_time }}</p>
        <p v-else> 受け取り時間指定なし</p>
        <p>伝票番号 XXXX 番になります</p>
      </div>

      <h4>{{ status }}</h4>
      <a href="index.html">戻る</a>
    </div>
  </body>
  <script type="text/javascript">

  var ws;

  var vm = new Vue({
    el: '#app',
    data: {
      orderWindow: true,
      determinationWindow: false,
      confirmationSubmitDisabled: true,
      orderSubmitDisabled: false,
      orderedData: {},
      caffee: 0,
      blacktea: 0,
      milktea: 0,
      matchalatte: 0,
      lebossorange:0,
      wait_time: "",
      nowTime: "10:00:00",
      totalAmount: 0,
      status: "",
      msg: "",
    },
    methods: {
      confirmationSubmit() {
        let num = vm.caffee + vm.blacktea + vm.milktea + vm.matchalatte + vm.lebossorange;
        vm.totalAmount = num * 200;
        vm.wait_time = $("input.timepicker").val();

        if(0 < num && num <= 4){
          vm.orderSubmitDisabled = false;
          vm.msg = "";
        } else if(num == 0) {
          vm.msg = '注文を入力してください';
          vm.orderSubmitDisabled = true;
        } else {
          vm.msg = '注文は一回に４杯まででおねがいします'
            vm.orderSubmitDisabled = true;
        }
      },
      submit() {
        data = JSON.stringify({
            products: [
              { name: 'caffee',       piece: vm.caffee },
              { name: 'blacktea',     piece: vm.blacktea },
              { name: 'milktea',      piece: vm.milktea },
              { name: 'matchalatte',  piece: vm.matchalatte },
              { name: 'lebossorange', piece: vm.lebossorange },
            ],
            wait_time: vm.wait_time,
          });
        ws.send(data);
        localStorage.setItem('orderData', data);

        vm.orderedData = JSON.parse(localStorage.orderData);
        vm.orderWindow = false;
        vm.determinationWindow = true;
      },
      test() {
        vm.orderedData = JSON.parse(localStorage.orderData);
        vm.orderWindow = false;
        vm.determinationWindow = true;
      },
    },
    mounted: () => {
      new Promise( (resolve, reject) => {
        let config = new CONFIG();
        let url = config.wsurl(location.protocol) + '/orders/create';
        ws = new WebSocket(url);
        resolve();
      }).then( () =>  {
        ws.onopen = () => {
          vm.confirmationSubmitDisabled = false;
          if ( localStorage.orderData ) {
            vm.test();
          }
        }
        ws.onclose = () => {
          vm.status = "サーバーとの接続が切断されました。ブラウザを再更新してください";
          vm.confirmationSubmitDisabled = true;
        }
        // ws.onmessage = evt => {
        //   let data = JSON.parse(evt.data);
        //   localStorage.setItem('orderData', data.order.id);
        // }
      })
    }
  })

  $(document).ready(function(){
    var today = new Date();
    $('input.timepicker').timepicker({
      timeFormat: 'H:mm',
      interval: 5,
      minTime: '9',
      maxTime: '03:00pm',
      defaultTime: today.getHours() + ':' + today.getMinutes(),
      startTime: '09:00',
      dynamic: false,
      dropdown: true,
      scrollbar: true
    });
  });

  </script>
  </html>
