<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Kaffees - Products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/config.js"></script>
    <script type="text/javascript" src="./assets/js/auth.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/stylesheets/base.css">
  </head>
  <body>
    <div id="app">
      <div v-show="productsWindow">
      <a href="#" v-on:click="backToOrders">System &gt; Products Index </a><br><br>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
          商品追加
        </button><br>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createModalTitle">商品追加</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> <!-- modal-header -->
              <div class="modal-body">
                <label>商品名: 
                  <input type="text" class="form-control" v-model="createProduct.name" placeholder="caffee"/>
                </label><br>
                <label>値段: 
                  <input type="number" class="form-control"  v-model.number="createProduct.price" placeholder="200"/>
                </label>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" v-on:click="create" data-dismiss="modal"> 商品追加 </button>
                </div> <!-- div.modal-footer -->
              </div> <!-- div.modal-body -->
            </div> <!-- div.modal-content -->
          </div> <!-- div.modal-dialog -->
        </div> <!-- div.modal.fade -->


        <br>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products">
              <th scope="row">{{ product.id }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}円</td>
              <td><button type="button" class="btn btn-success" v-on:click="edit(product.id, product.name, product.price)">Edit</button></td>
              <td><button type="button" class="btn btn-danger"  v-on:click="destroy(product.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div> 

      <div v-show="editWindow">
        <a href="#" v-on:click="backToProducts">System &gt; Products Index &gt; {{ newName }}</a><br><br>
        <h2>Edit Window</h2>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">New Name</label>
          <div class="col-sm-10">
            <input type="text" id="inputName" class="form-control" name="name" placeholder="商品名" v-model="newName"><br>
          </div><!-- .col-sm -->
        </div><!-- form-group row -->

        <div class="form-group row">
          <label for="inputPrice" class="col-sm-2 col-form-label">NewPrice</label>
          <div class="col-sm-10">
            <input type="text" id="inputPrice" class="form-control" name="price" placeholder="200" v-model="newPrice"><br>
          </div><!-- col-sm-10 -->
        </div> <!-- form-group row -->

        <button class="btn btn-primary" v-on:click="editSubmit(productId)">更新</button>

      </div><!-- edit window -->

    </div>
  </body>
  <script>
  let auth = new Authentication;
  let config = new CONFIG();
  var vm = new Vue({
    el: '#app',
    data: {
      products: [],
      productId: 0,
      newName: "",
      newPrice: "",
      createProduct: {
        name: "",
        price: 200,
      },
      productsWindow: true,
      editWindow: false
    },
    methods: {
      edit(id, name, price) { //ユーザー更新画面に移動
        vm.productId         = id;
        vm.newName           = name;
        vm.newPrice          = price;
        vm.productsWindow    = false;
        vm.editWindow        = true;
      },
      destroy(id) {
      },
      create() {
        let url = config.url(location.protocol) + '/products';
        axios.post(url, JSON.stringify({
          name:  vm.createProduct.name,
          price: vm.createProduct.price,
        })).then( res => {
          location.reload();
        }).catch( err => {
          alert(err)
          console.log(err);
        });
      },
      editSubmit() { //ユーザーを更新
        let url = config.url(location.protocol) + '/products/' + vm.productId;
        axios.post(url, JSON.stringify({
          name:  vm.newName,
          price: vm.newPrice,
        })).then( res => {
          location.reload();
        }).catch( err => {
          alert(err)
          console.log(err);
        });
      },
      backToProducts() { // ユーザー一覧に戻る
        vm.productsWindow = true;
        vm.editWindow = false;
      },
      backToOrders() { // オーダー画面に戻る
        window.location.href = 'system.html'
      }
    },
    mounted: () => {
      auth.verification(localStorage.userToken, (result) => {
        if ( !(result) ) {
          window.location.href = 'login.html'
        } else {
          if ( localStorage.userRole == 'admin' ) {
            let config = new CONFIG();
            let url = config.url(location.protocol) + '/products';
            axios.get(url).then( res => { 
              vm.products = res.data;
            }).catch( err => {
              alert(err);
            });
          } else {
            window.location.href = 'system.html'
          }
        }
      })
    }
  })
  </script>
</html>
