<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Kaffees - Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/auth.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/stylesheets/base.css">
  </head>
  <body>
    <div id="app">
      <div v-show="userListWindow">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.id">
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.name }}</td>
              <td>{{ user.role }}</td>
              <td><button type="button" class="btn btn-success" v-on:click="edit(user.id, user.name, user.role)">Edit</button></td>
              <td><button type="button" class="btn btn-danger"  v-on:click="destroy">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div> 
      <div v-show="editWindow">
        <h2>Edit Window</h2>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">New Name</label>
          <div class="col-sm-10">
            <input type="text" id="inputEmail" class="form-control" name="name" placeholder="名前" v-model="newName"><br>
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">New Role</label>
          <div class="col-sm-10">
            <select class="form-control" id="exampleFormControlSelect1" v-model="newRole">
              <option>normal</option>
              <option>kitchen</option>
              <option>provider</option>
              <option>counter</option>
              <option>admin</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">NewPassword</label>
          <div class="col-sm-10">
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" v-model="newPassword"><br>
          </div>
        </div>

        <button class="btn btn-primary" v-on:click="submit(userId)">更新</button>

      </div>
    </div>
  </body>
  <script>
  let auth = new Authentication;
  var vm = new Vue({
    el: '#app',
    data: {
      users: [],
      userId: 0,
      newName: "",
      newPassword: "",
      newRole: "",
      userListWindow: true,
      editWindow: false
    },
    methods: {
      edit(id, name, role) {
        vm.userListWindow = false;
        vm.editWindow = true;
        vm.userId = id;
        vm.newName = name;
        vm.newRole = role;
      },
      destroy() {
      },
      submit() {
        let url = 'https://kaffees.herokuapp.com/users/' + vm.userId
          // let url = 'http://localhost:4567/users/' + vm.userId
          axios.post(url, JSON.stringify({
            name: vm.newName,
            role: vm.newRole,
            password: vm.newPassword
          })).then( res => {
            location.reload();
          }).catch( err => {
            console.log(err);
          });
      }
    },
    mounted: () => {
      auth.verification(localStorage.userToken, (result) => {
        if ( !(result) ) {
          window.location.href = 'login.html'
        } else {
          if ( localStorage.userRole == 'admin' ) {
            // let url = 'http://localhost:4567/users'
            let url = 'https://kaffees.herokuapp.com/users'
              axios.get(url).then( res => { 
                vm.users = res.data;
              }).catch( err => {
                alert(err);
              });
          } else {
            window.location.href = 'system.html'
          }
        }
      })
    }
  })
  </script>
</html>
